<header id="header">
    <div class="container">
        <div class="top row no-pad">
            <div class="left">
                <ul class="row">
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div> <!-- left -->
            <div class="right">
                <ul>
                    <li><a href="#">Basket - <b>&pound;100</b></a></li>
                </ul>
            </div> <!-- right -->
        </div> <!-- top -->

        <div class="bottom row">
            <div class="logo">
                <a href="/"><img src="/assets/images/logo.png" alt="{{ ssttings.site_title }}" /></a>
            </div> <!-- logo -->
            <div class="expand-menu navbar-toggle">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="sprite menu"></i>
                </button>
            </div>
            <div class="right">
                <form action="" class="form form-search">
                    <input type="text" name="q" placeholder="Search for stuff..." />
                </form>
            </div> <!-- right -->
        </div> <!-- bottom -->
        <nav class="nav collapse navbar-collapse no-pad" id="navbar-collapse" role="navigation">
            <ul>
                {% for item in level1 %}
                    <li class="{{ item.parent_active?'on':'' }}"><a href="{{ item.url }}">{{ item.menu_title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div> <!-- wrap -->
</header> <!-- header -->