{% extends interface_template|default("admin/shared/interface.twig") %}

{% block html_title %}CMF Item List Page{% endblock %}
{% block main_class %}controls-bot{% endblock %}

{% block main_pane %}

    <div class="inner">

        <h2 class="main-heading">Error: {{ msg }}</h2>
        <div class="clear"></div>
        
    </div>
    
{% endblock %}