{% extends interface_template|default("admin/shared/interface.twig") %}

{% block main_pane %}

	{% include 'admin/shared/alert.twig' %}

    <div class="row-fluid">
        <div class="span12">
            <h2 class="main-heading">Welcome to your admin system</h2>
            <hr>
            <p>To get started, select an option from the sidebar<br><br></p>
        </div>
    </div><!--/row-->

{% endblock %}

{% block breadcrumb %}

<li><a href="{{ base_url }}">{{ dashboard_title }}</a> <span class="divider">/</span></li>
{% if heading %}<li class="active">{{ heading }}</li>{% endif %}

{% endblock %}