{% extends "admin/shared/interface.twig" %}

{% block main_pane %}

	{% include 'admin/shared/alert.twig' %}

    <div class="row-fluid">
        <div class="span12">
            {% if heading %}<h2 class="main-heading">{{ heading }}</h2>{% endif %}
            <hr>
            {% if content %}{{ content }}{% endif %}
        </div>
    </div><!--/row-->

{% endblock %}

{% block breadcrumb %}

<li class="active">{{ dashboard_title }}  <span class="divider">/</span></li>
{% if heading %}<li class="active">{{ heading }}</li>{% endif %}

{% endblock %}