{% extends interface_template|default("admin/shared/interface.twig") %}

{% block html_title %}Import Data : {{ admin_title }}{% endblock %}

{% block frame_top %}<form action="" method="post" enctype="multipart/form-data">{% endblock %}
{% block frame_bottom %}</form>{% endblock %}

{% block main_pane %}
    
    {% include 'admin/shared/alert.twig' %}
    
    <div class="inner">

        <div class="actions-top-right">
            <a href="/admin/{{ table_name }}" class="btn btn-medium btn-inverse btn-permissions" title="{{ singular }} {{ list_name }}"><i class="fa fa-arrow-left"></i> &nbsp; Back to list</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h2 class="main-heading"><i class="fa fa-circle-arrow-right"></i> Import Data</h2>
            </div>
        </div>
        
        <div class="row-fluid">

            <div class="widget span12">
                
                <div class="widget-title">
                    <h3><i class="fa fa-chevron-down"></i> Select a file to import...</h3>
                </div>
                <div class="widget-content">
                    <input type="file" name="importdata" data-filename-placement="inside" class="fileinput-button" title="Browse..." />
                </div>
                
            </div>

        </div>
        
    </div> <!-- .inner -->
    
{% endblock %}

{% block bottom %}
    
    <div id="controls-fixed-bot"><div class="inner">
        
        <div class="actions pull-right">
            <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-plus icon-white"></i> Import Data...</button>
        </div>
        <div class="clear"></div>

    </div></div>
    
{% endblock %}

{% block breadcrumb %}

{% endblock %}
