{% extends interface_template|default("admin/shared/interface.twig") %}

{% block html_title %}Import Data : {{ admin_title }}{% endblock %}

{% block main_pane %}
    
    {% include 'admin/shared/alert.twig' %}
    
    <div class="inner">
        
        <div class="row">

            <div class="span12">

                <input type="file" name="importdata" />

            </div>

        </div>
        
    </div> <!-- .inner -->
    
{% endblock %}

{% block bottom %}
    
    <div id="controls-fixed-bot"><div class="inner">
        
        {% if can_create %}
        <div class="actions pull-right">
            <a href="/admin/{{ table_name }}/create" class="btn btn-large btn-primary"><i class="icon-plus icon-white"></i> Import Data...</a>
        </div>
        {% endif %}
        
        <div class="clear"></div>

    </div></div>
    
{% endblock %}

{% block breadcrumb %}

{% endblock %}
