<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ model.title }}</title>
	
	<link rel="stylesheet" href="/assets/less/less.php?f=/assets/less/core.less" type="text/css" media="screen" title="Default Style" charset="utf-8"/>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/global/favicon.ico">
	<script src="/assets/js/jquery.1.7.min.js" type="text/javascript" charset="utf-8"></script>
	

</head>
<body>
	
	<div id="wrap">
		
		<div id="header">
			{% include 'shared/nav.twig' %}
		</div> <!-- header -->
		
		{% block content %}
			
	        <h1>{{ model.getTitle() }}</h1>
	        
	    {% endblock %}
		
	</div> <!-- wrap -->
	
	<!-- span>Page rendered in {exec_time}s using {mem_usage}mb of memory.</span -->
	
</body>
</html>
