<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block html_title %} | {{ settings.site_title|default('Title Not Set') }}{% endblock %}</title>
	
</head>
<body>
	
	<div id="wrap">
		
		<div id="header">
			{% include 'shared/nav.twig' %}
		</div> <!-- header -->
		
		<div id="content">
			{% block content %}
				
	        	<h1>{{ model.title }}</h1>
	        	
	        	{{ model.content }}
	        	
	    	{% endblock %}
		</div>
		
	</div> <!-- wrap -->
	
	<!-- span>Page rendered in {exec_time}s using {mem_usage}mb of memory.</span -->
	
</body>
</html>
