<!DOCTYPE html>
<html lang="{{ language() }}">
<head>

	<meta charset="utf-8">
	<title>{% block html_title %}Website Administration{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Login">
	<meta name="author" content="Sound in Theory">

    <!--[if lt IE 9]>
        <script src="/admin/assets/js/html5.js"></script>
	<![endif]-->
	
	<link href="/admin/assets/css/bootstrap.min.css?v=16" rel="stylesheet" type="text/css">
	<link href="/admin/assets/css/bootstrap-responsive.min.css?v=16" rel="stylesheet" type="text/css">
	<link href="/admin/assets/css/bootstrap-modal.css?v=16" rel="stylesheet" type="text/css">
	<link href="/admin/assets/css/ui-theme/jquery-ui-1.8.16.custom.css?v=16" rel="stylesheet" type="text/css">
	<link href="/admin/assets/less/core.less?v=16" rel="stylesheet" type="text/css">
	<link href="/admin/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	{% block admin_css %}{% endblock %}
	
	<!--[if lt IE 8]>
        <link href="/admin/assets/css/font-awesome-ie7.css" rel="stylesheet" type="text/css">
	<![endif]-->
	
	<!--[if lt IE 9]>
        <link href="/admin/assets/css/ui-theme/jquery.ui.1.8.16.ie.css" rel="stylesheet" type="text/css">
	<![endif]-->
	
    <!-- Le fav and touch icons -->
    <!-- link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" -->
    
    <script src="/admin/assets/js/jquery-1.8.3.min.js?v=16"></script>
	<script src="/admin/assets/js/php.min.js?v=16"></script>
	<script src="/admin/assets/js/jquery.cookie.js?v=16"></script>
	<script src="/admin/assets/js/tree.jquery.js?v=16"></script>
	<script src="/admin/assets/js/jquery-ui-1.8.22.custom.min.js?v=16"></script>

	<!-- Nice UI Addons -->
	<script type="text/javascript" src="/admin/assets/js/jquery-ui-timepicker-addon.js?v=16"></script>
	<script type="text/javascript" src="/admin/assets/js/jquery-ui-sliderAccess.js?v=16"></script>
    <script src="/admin/assets/js/bootstrap.min.js?v=16"></script>
    <script src="/admin/assets/js/bootstrap-modal.js?v=16"></script>
    <script src="/admin/assets/js/bootstrap-modalmanager.js?v=16"></script>
    
	{% block admin_js %}
	<script type="text/javascript">
	    var data = {{ js_data|default('{}') }};
	</script>
	{% endblock %}
	
	<script src="/admin/assets/js/core.js?v=16"></script>
	
	
	
</head>
<body class="{% block body_class %}{% endblock %}">
	
	{% block content %}
	{% endblock %}
	
</body>
</html>
