{% extends "admin/shared/base.twig" %}

{% block content %}
	 
	<div id="login-container" class="row-fluid">
<!-- <ul class="nav nav-tabs">
<li class="tab active"><a href="">Start</a></li>
<li class="tab"><a href="">Copy files</a></li>
<li class="tab"><a href="">Database</a></li>
<li class="tab"><a href="">Migration</a></li>
<li class="tab"><a href="">Super User</a></li>
</ul> -->
 <!--    <ul class="nav nav-pills">
    	<li class="active"><a href="">Start</a></li>
    	<li class=""><a href="">Files</a></li>
    	<li class=""><a href="">Database</a></li>
    	<li class="disabled"><a href="">Migration</a></li>
    	<li class="disabled"><a href="">Super User</a> </li>
    </ul>-->
		<div id="login-header"> 
			<h3>Welcome to the CMF Installer</h3>
		</div> <!-- #login-header -->
		
		<div id="login-content" class="clearfix">

			<p><a class="btn btn-primary span6 offset3" href="{{ admin_url('/install/setup') }}">Begin Installation</a></p>
			<!-- <form method="post" action="{{ admin_url('/login') }}">
				
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="form_username">Username</label>
						<div class="controls-row">
							<input type="text" class="span12" id="form_username" name="username">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="form_password">Password</label>
						<div class="controls-row">
							<input type="password" class="span12" id="form_password" name="password">
						</div>
					</div>
				</fieldset>
				
				<div class="pull-right">
					<button type="submit" class="btn-primary btn-large">Login</button>
				</div>
				
			</form> -->
			
		</div> <!-- #login-content -->
		
		<!-- div id="login-extra">
			<p><a href="#">Forgotten your password?</a></p>
		</div --> <!-- #login-extra -->
		
	</div> <!-- #login-container -->
	
{% endblock %}