{% extends "admin/shared/base.twig" %}

{% block content %}
	
	<div id="login-container" class="row-fluid">
		
		<div id="login-header">
			<h3>Data Migration</h3>
		</div> <!-- #login-header -->
		    <div class="progress">
    {% if status %} 
	<div class="bar bar-success" style="width: 80%;"></div>
	{% else %}
	<div class="bar bar-success" style="width: 60%;"></div>
    {% endif %}
    </div>
		<div id="login-content" class="clearfix">
			{% if status %} 
			<p>Excellent! All migrations completed.</p>
			<p><a class="btn btn-success span6 offset3" href="/admin/install/createuser">Create Admin User</a></p>
			{% else %}
			<p>Now we need to do a migration to setup the database.</p>
			<p><a class="btn btn-primary span6 offset3" href="/admin/install/migration/go">Migrate</a></p>
			{% endif %} 
	</div> <!-- #login-container -->
	
{% endblock %}